* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color:  rgb(116, 222, 59);
  --secondary-color: rgb(91, 248, 6);
  --tertiary-color: rgb(13, 14, 14);
  --quaternary-color: rgb(255, 255, 255);
  --gray: #bec9d9;
}

body {
  background-image: linear-gradient(to right, var(--tertiary-color), rgb(52, 47, 47));
  color: var(--quaternary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark-theme {
  --dark-primary-color: #edf2fc;
  --dark-secondary-color: #212121;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {

  display: flex;
  align-items: center;
  justify-content: left;
  padding: 40px;
  margin: 40px 20px;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.1s all;
  :hover {
    transform: scale(0.5);
  }
  
}

.header h1 {
  font-size: 30px;
  background: linear-gradient(to right, var(--primary-color), var(--quaternary-color));
  background-clip: text;
  color: transparent;
  box-shadow: 0 0 5px var(--primary-color);
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding-top: 4px;
  position: fixed;
  z-index: 10;
  background-color: transparent;
  backdrop-filter: blur(100px);
}

#nav {
  /* background-image: linear-gradient(to right, var(--tertiary-color), rgb(172, 156, 156)); */
  min-width: 45%;
  backdrop-filter: blur(10px);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 25px 7px rgba(0, 0, 0, 0.6);
  color: var(--quaternary-color);
  z-index: 1;
  background-color: transparent;
  height: 63px;
}

.nav-link {
  padding: 9px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 50px;
}

.nav-link:hover {
  background-color: var(--secondary-color);
}
header input {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 0;
  height: 0;
  visibility: hidden;
}
header input:checked + label {
  background: #242424;
}
header input:checked + label::after {
  left: 88px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
  top: 10px;
}
header input:checked + label + .header {
  background-image: linear-gradient(to right, var(--tertiary-color), rgb(95, 81, 81));

}
header label {
  width: 100px;
  height: 50px;
  background: #ebebeb;
  position: absolute;
  right: 7%;
  top: 13%;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
header label::after {
  content: "";
  width: 30px;
  height: 28px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}
header .close-icon {
  display: none;
}

header .menu-icon {
  display: none;
}
/* Heor Section */

#home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#home #container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.home-image {
  position: relative;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(10px 2px 15px rgb(142, 215, 103));
  z-index: -1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.home-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: block;
  object-fit: cover;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0px, 19px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#hero-title {
  font-size: 4rem;
  font-weight: 800;
  background: linear-gradient(to bottom, var(--primary-color), var(--quaternary-color));
  background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}

#hero-subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--quaternary-color);
  margin-bottom: 32px;
}

.btn-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
  margin-top: 70px;
}

.first-btn {
  margin-block-start: 40px;
  width: 200px;
  box-shadow: 2px 2px 10px rgba(53, 80, 49, 0.9);
  border-radius: 50px;
  height: 51px;
  &:hover {
    .btn-editing {
      width: 180px;
      transition-duration: .3s;
      z-index: 0;
    }
    .btn-editing span {
      transition-duration: .1.5s;
      opacity: 1;
      z-index: 10;
    }
    .btn-editing i {
      transition-duration: .2.3s;
      opacity: 1;
    }
  }
}

.btn-editing {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 5px 12px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  position: relative;
  cursor: pointer;
  background: linear-gradient(82.3deg,var(--primary-color) 10.8%,#5851ae);
}
.btn-editing i {
  opacity: 0;
}
.btn-editing span {
  opacity: 0;
  font-weight: 500;
}
#home #container .social-icon {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  gap: 25px;
  cursor: pointer;
  transition: all .3s ease;
}
#home #container .social-icon .fa-brands:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}


/* About-Section */

#about #container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

#container #title {
  font-size: 3rem;
  font-weight: 800;
  background: linear-gradient(to bottom, var(--primary-color),
  var(--quaternary-color));
  background-clip: text;
  color: transparent;
  letter-spacing: 4px;
}

#about-me {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray);
  letter-spacing: 3px;
}

#container #title-details {
  margin-block-end: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#title-details #streatlineLeft {
  width: 50px;
  height: 1px;
  background: linear-gradient(to left, var(--primary-color), var(--quaternary-color));
  position: relative;
  top: 5px;
}
#title-details #streatlineRight {
  width: 50px;
  height: 1px;
  background: linear-gradient(to right, var(--primary-color), var(--quaternary-color));
  position: relative;
  top: 5px;
}

#about-content {
  max-width: 80%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin: 5px auto;
  align-items: center;
}
#about-content #about-image {
  position: relative;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#about-content #about-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: block;
  object-fit: cover;
}

#about-content #about-content-text {
  max-width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#about-content-text-1 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray);
  letter-spacing: 2px;
  line-height: 30px;
}
#about-content-text-2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray);
  letter-spacing: 2px;
  line-height: 30px;
}

#about-content li {
  color: var(--gray);
}

.about-btn {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  width: 130px;
  margin-top: 20px;
  border-radius: 50px;
  padding: 10px;
}
.about-btn:hover {
  background-color: rgb(174, 218, 150);
}

/* skills section using tailwind css*/

.tech-stack-wrapper {
  max-width: 80%;
  margin-top: 80px;
  position: relative;
  margin-inline: auto;
  max-height: 100vh;
  margin-bottom: 80px;
}

.tech-stack-box {
  background-image: linear-gradient(to bottom right, #1a1a29, rgba(27, 27, 40, 0));
  /* border: 1px solid #292929; */
}

.tech-stack-box .names {
  background-image: linear-gradient(to bottom right, #1a1a29, rgba(27, 27, 40, 0));
  padding: 5px 15px;
  position: absolute;
  top: -25px;
}

.tech-stack-box .skill-item {
  &:hover {
    .names {
      opacity: 1;
      transition-duration: .3s;
    }
  }
}

/* Services Section */
.service-wrapper {
  max-width: 80%;
  position: relative;
  /* margin-inline: auto; */
  margin: 0 auto;
  height: 70vh;
  padding: 0 35px;
  gap: 25px;
  display: grid;
  grid-auto-flow: column;
}

.service-box {
  width: 450px;
  height: 73%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin: 10px;
  box-shadow: 2px 2px 10px rgba(53, 80, 49, 0.9);
  border-radius: 50px;
  padding: 5px;
  flex-wrap: wrap;
}
.service-box .service-image1 {
  max-width: 240px;
}
.service-box .service-image3 {
  max-width: 295px;
}
.service-image2 {
  max-width: 410px;
}

.service-box h3 {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}
.service-box p {
  font-size: 15px;
  font-weight: 300;
  color: var(--gray);
}

.service-box img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* Projects Section */

#projects {
  min-height: 100vh;
  padding: 0 20px;
}

.project-wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(131px, 1fr));
  gap: 20px;
  text-align: center;
  margin-top: 70px;
  box-shadow: 2px 2px 10px rgba(53, 80, 49, 0.9);
  /* background-image: linear-gradient(to bottom right, #1a1a29, rgba(27, 27, 40, 0)); */
  border: 1px solid #292929;
  padding: 20px;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.project-wrapper .project-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 20px;
}

.project-wrapper .project-box {
  background-image: linear-gradient(to bottom right, #1a1a29, #1a1a29); 
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  position: relative;
}
.project-wrapper h2 {
  font-size: 1.5rem;
  font-weight: 800;
  background: linear-gradient(to bottom, var(--primary-color), var(--quaternary-color));
  background-clip: text;
  color: transparent;
  position: absolute;
  top: -22px;
  left: 50px;
  z-index: 1;
  background-color: transparent;
  backdrop-filter: blur(6px);
  padding: 0 4px;
}

.project-wrapper h4 {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;;
}

.project-box img {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.5s;
}
.project-box:hover img{
  transform: scale(1.1);
}
.project-box video {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.3s ease;
  border: 3px dotted var(--primary-color);
}
.project-wrapper h3 {
  display: flex;
  justify-content: start;
  padding: 0 10px;
  font-size: 16px;
}

.project-wrapper p {
  display: flex;
  justify-content: start;
  font-size: 14px;
  padding: 0 10px;
  color: var(--gray);
  font-weight: 400;
  text-align: justify;
}
.project-box .Project-tags {
  display: flex;
}

.project-box .project-tag {
  background-color: var(--gray);
  color: var(--tertiary-color);
  padding: 6px 21px;
  width: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  margin-left: 10px;
}

.project-box .layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), var(--primary-color));
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0 40px;
  gap: 10px;
  transition: height 0.5s;
}
.project-box:hover .layer {
  height: 100%;
  
}
.project-box .layer h3 {
  font-weight: 500;
}
.project-box .layer .project-box-header {
  color: #1f1e1e;
}
.project-box .layer .project-box-title {
  font-weight: 500;
  font-family: 12px;
  color: #1f1e1e;
}

/* Contact Section */

#contact {
  min-height: 100vh;
  padding: 0 20px;
  margin-top: 50px;
}
#contact #container {
  width: 100%;
  max-width: 1200px;
  padding: 0 auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.contact-form {

  border-radius: 16px;
  padding: 32px;
  box-shadow: 2px 2px 10px rgba(53, 80, 49, 0.9);
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact-form input, textarea {
  background: #262626;
  padding: 15px;
  border: none;
  border-radius: 6px;
  outline: none;
}
.contact-form input::placeholder {
  color: #B7B7B7
}

.contact-form textarea::placeholder {
  color: #B7B7B7;
}

.contact-form .btn-details {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #1a1a29;
  padding: 15px;
  width: 17%;
  border-radius: 6px;
  box-shadow: 4px 4px 8px rgba(53, 80, 49, 0.9);
}
.contact-form .btn-details:hover {
  background-color: #232336;
}

.contact-form .btn-details button {
  color: #B7B7B7;
  font-size: 15px;
}

/* footer section */

#footer {
  width: 100%;
  background: #1f1e1e;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
.social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.social-icons a {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.social-icons a:hover {
  background-color: rgb(121, 149, 106);
  color: black;
  z-index: 1;
}

@media only screen and (max-width: 1413px) {
  .service-wrapper {
    display: grid;
    grid-template-columns: auto;
    max-width: 60%;
    padding: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  #nav {
    position: fixed;
    top: 0;
    left: 950px;
    width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    margin: 25px;
    color: var(--quaternary-color);
    font-size: 23px;
    letter-spacing: 2px;
  }
  header input {
    display: none;
  }
  header label {
    display: none;
  }
  header .menu-icon {
    display: block;
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
  }
  header .close-icon {
    display: block;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
  }
  .tech-stack-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(131px, 1fr));
  }
  .service-wrapper {
    display: flex;
    /* grid-template-rows: repeat(auto-fit, minmax(331px, 1fr)); */
    flex-direction: column;
    height: 120vh;
  }
}

@media only screen and (max-width: 768px) {
  .header h1 {
    position: absolute;
    top: 90px;
    left: 100px;
  }
  header .menu-icon {
    display: none;
  }
  #about-content {
    max-height: 20%;
    display: grid;
    grid-template-columns: auto;
  }
  #about-image {
    position: absolute;
    left: 60px;
  }
  .tech-stack-wrapper {
    max-height: 30%;
    display: grid;
    grid-template-columns: auto;
  }
  .service-wrapper {
    max-height: 70%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(231px, 1fr));
  }
  .service-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31px, 1fr));
  }
  .project-wrapper {
    max-height: 70%;
    display: grid;
    grid-template-columns: auto;
  }
  .contact-form .btn-details {
    width: 45%;
  }
}
